.wrapper{
    position: absolute;
    width: 80%;
    height: 580px;
    left: 10%;
    top: 100px;
    border-radius: 50px;
    z-index: 10;
    background-color: #6b6b70;
    font-family: 'Archivo', sans-serif;
    color: white;
    position: fixed;
    box-shadow: 10px 150px 100px 100px rgb(0, 0, 0);
}
#wrapper{
    overflow-y: scroll;
}
#wrapper::-webkit-scrollbar{
 display: none;
  }
.container{
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
   
}
.container h3{
    font-size: 28px;
    font-weight: 700;
}
.bagfirstline{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    height: 150px;
    margin-left: 1%;

}
.bagfirstline h5{
    font-size: 16px;
}
.bagwords{
    display: block;
    width: 15%;
}
.bagwords p{
    color: #EAEAEA;
    font-size: 13px;
    margin-top: 50px;
}
.bagpiece{
    margin-left: 5%;
    position: relative;
    display: flex;
    width: 5%;
    color: #EAEAEA;
    justify-content: space-between;
}
.buttons{
    display: flex;
    margin-left: 40%;
    margin-top: 10%;
}
.ul{
    width: 15px;
    height: 15px;
    margin-top: 8%;
}
.go{
    width: 100px;
    height: 30px;
    border-radius: 30px;
    outline: none;
    background-color: white;
    color: black;
    margin-right: 2%;
    margin-bottom: 5%;
    border: 0px;
}
.go:hover{
    background-color: black;
    color: white;
}
.bagshoot{
    width: 250px;
    height: 180px;
    background-color: white;
    border-radius: 50px;
    margin-left: -8%;
}
.plus{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-top: 50%;
    position: absolute;
    margin-left: -65%;
    outline: none;
}
.plus:hover{
    background-color: black;
    color: white;
}
.plus1:hover{
    background-color: black;
    color: white;
}
.plus1{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-top: 50%;
    position: absolute;
    margin-left: 45%;
    outline: none;
}